
body{
    padding: 0px;
    color: white;
    margin: 0px;
    background-image: url(../images/prism.png);
    font-family: serif;
}
nav{
    margin: 0px;
    height: 120px;
    
    background-color:#6ed3cf;
    padding-top: 2px;
    border-bottom: solid black 3px;
}
a{
    color: black;

}
.dropDownChoices{
    border-bottom: 2px solid black;
    background-color: #6ed3cf;
    color: #6ed3cf;
    display:none;
}
button{
    padding: 0;
    border: none;
    background: none;
    color: white;
}




#header{
    

    margin-left: 20px;
    margin-top: 36px;
    padding: 20px 0px 0px 20px;
    background-color: rgb(51, 56, 59);
    width: 30%;
    height: 79px;
}
#sidebar{
    border-top: 2px solid black;
    border-right: 2px solid black;
    z-index: 0;
    background-color: rgb(51, 56, 59);
    width : 94%;
    height: 100%;
    margin: 20px 0px 0px 25px;
        
    
}
#sidebarH{
    text-align: center;
    margin-top: 20px;
    
}

#mainContent{
    background-color: rgb(51, 56, 59);
    margin-top: 20px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    width: 100%;
    height: 100%;
    padding: 20px;

}


.dropDown{
    margin: auto;
    width: 90%; 
    
    
 
}

.learnList{
   
    margin-top: 50px;
    border-bottom: #6ed3cf 2px solid;
    width: 90%;



}

.dropDown:hover li{
    display:block;
}


aside{
    background-color: white;
    border-bottom: black 2px solid;
    width: 75%;
}

.asideText{

    line-height: 30px;
  
    
}
#codeImage{

    height: 150px;
    width: 150px;
    border: 1.5px solid black;
  

}
#about{
    border-bottom: 2px solid #6ed3cf;
    margin-bottom: 30px;
}
.resourceImage{
    margin: 30px 0px 20px 0px;
    border: 1.5px solid black;
    height: 150px;
    width: 150px;
    border-radius: 5px;

    

}

.subHeader{
    border-bottom: 2px solid #6ed3cf;
  
   
    
}
.resourceHeader{
    display: block;
    font-size: 25px;
    
}
.resourceInfo{
    font-size: 16px;
    color: white;
    
    
}
.asideImages{
    border-right: 3px #6ed3cf solid;
    border-top: 3px #6ed3cf solid;
    border-bottom: 3px #6ed3cf solid;
    border-radius: 5px;

    

}
    
#secondImages{
    margin-top: 70px;
    
}
#secondHeader{
    margin-top: 40px;
}
#linkedin{
    margin-top: 75px;
}